In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('street_children.csv')

In [3]:
df.shape

(450, 44)

# Droping Features Containing more than 100 Missing Values

In [4]:
value_to_check = '88' or '99'
list = []
for column in df.columns:
    count = (df[column] == value_to_check).sum()
    if count>100:
        list.append(column)
        print(column,count)

Causes_of_not_meeting_with_parents 209
Type_of_working_injury 233
During_sickness_take_care_persons 194
Stopped_school_for_work 152
Person_who_put_to_work 152
Reason_for_starting_work 152
Reasons_for_arrested 364

In [5]:
df = df.drop(list, axis=1)

In [6]:
#value_to_remove = 88 or 99
#mask = (df == value_to_remove).any(axis=1)
#df = df[~mask]

# Droping Features Containing more than 5 Missing Values

In [7]:
list1=[]
# Iterate through each column and count occurrences of the value
for column in df.columns:
    count = (df[column] == value_to_check).sum()
    if count > 5:
        list1.append(column)
        print(column,count)

Last_time_meeting_with_parents 59

In [8]:
df = df.drop(list1, axis=1)

In [9]:
list2=[]
values_to_check = 88 or 99
# Iterate through each column and count occurrences of the value
for column in df.columns:
    count = (df[column] == values_to_check).sum()
    if count> 5:
        list2.append(column)
        print(column,count)

Starting_age_of_work 152

In [10]:
df = df.drop(list2,axis=1)

In [11]:
df.shape

(450, 35)

In [12]:
df.reset_index()

,index,Region,District,Upazila,Ward_no,Age,Sex,Parents,Living_company,Living_sleeping_location,...,No_of_nights_gone_to_bed_without_food_per_week,Having_winter_clothes,Ability_of_reading,Ability_of_writing,School_attendance,Religion,Smoke,Arrested_by_police,Aware_of_organizations,Division
0,0,Dhaka,Dhaka,Demra (Dhaka),84,12,Male,Both parents live in my original village,With friends (who are street children),In a shelter,...,Two nights,No,No,No,No one,Muslim,Yes,Yes,Yes,Dhaka
1,1,Dhaka,Dhaka,Sutrapur,81,16,Male,Only father/mother alive,No one,Others,...,"No, did not without food",No,No,No,No one,Muslim,Yes,Yes,No,Dhaka
2,2,Dhaka,Dhaka,Demra (Dhaka),84,14,Male,Both parents live in my original village,With friends (who are street children),In a shelter,...,"No, did not without food",Yes,Yes,Yes,"Yes, formal only",Muslim,No,No,Yes,Dhaka
3,3,Dhaka,Dhaka,Demra (Dhaka),84,10,Female,"I do not know, possibly alive",With friends (who are street children),In a shelter,...,Three nights,Yes,No,Yes,"Yes, formal only",Muslim,No,Yes,Yes,Dhaka
4,4,Dhaka,Dhaka,Demra (Dhaka),84,12,Male,Both parents live in my original village,With friends (who are street children),Bus stations,...,"No, did not without food",No,No,Yes,"Yes, informal only",Muslim,No,Yes,Yes,Dhaka
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,445,Barishal,Patuakhali,Patuakhali sadar,7,15,Male,Both parents live in my original village,With friends (who are street children),Launch/steamer terminal,...,Two nights,No,No,No,No one,Muslim,Yes,No,No,Barisal
446,446,Barishal,Patuakhali,Patuakhali sadar,7,17,Male,Others,With friends (who are street children),Launch/steamer terminal,...,Two nights,No,Yes,Yes,Both formal and informal,Muslim,Yes,No,Yes,Barisal
447,447,Barishal,Patuakhali,Patuakhali sadar,7,11,Male,Only father/mother alive,With friends (who are street children),Launch/steamer terminal,...,"No, did not without food",Yes,Yes,Yes,"Yes, formal only",Muslim,No,No,No,Barisal
448,448,Barishal,Patuakhali,Patuakhali sadar,7,8,Male,Only father/mother alive,With friends (who are street children),Launch/steamer terminal,...,Three nights,No,No,No,No one,Muslim,Yes,No,No,Barisal
449,449,Barishal,Patuakhali,Patuakhali sadar,7,6,Male,Only father/mother alive,With friends (who are street children),Launch/steamer terminal,...,Two nights,No,No,No,No one,Muslim,No,No,No,Barisal

In [13]:
#df.to_csv('output_file.csv', index=False)